.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  padding: 13px;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #eab8c0;
}

svg {
  fill: #1c2331;
}

.btn:hover svg {
  fill: white;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  padding: 13px;
  cursor: pointer;
  border-radius: 8px;
}

.btn2:hover svg {
  fill: #eab8c0;
}

.btn-pjg {
  height: 44px;
  background-color: white;
  border: none;
  padding: 11px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
}

.btn-pjg:hover {
  color: #eab8c0;
}

.btn-pjg:hover svg {
  fill: #eab8c0;
}

.btn-pjg:hover a {
  color: #eab8c0;
}

.konten {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
