.celeb-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
}

.main-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.main-content .over_box {
    margin-left: -7px;
}

.main-content .product-buttons {
    right: 4px;
}

.text-label {
    padding-top: 30px;
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #1c2331;
}

.related {
    color: #1c2331;

    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
}
.product-category-link {
    color: #1c2331;

    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
}
.product-category-link:hover {
    color: #eab8c0;
}

.active-category {
    color: #eab8c0;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    clear: both;
    display: block;
    width: 192px;
    background-color: #1c2331;
    height: 2px;
}

.pagination {
    display: block;
    text-align: center;
    min-height: 42px;
    position: relative;
}
.pagination.pagination-type--infinite .button {
    display: none;
}
.pagination.pagination-type--infinite[loading="true"] .loading-overlay {
    display: block;
}

.page-numbers {
    text-align: center;
}
.page-numbers span {
    display: inline-flex;
    vertical-align: middle;
    color: #eab8c0;
}
.page-numbers .page a,
.page-numbers .next a,
.page-numbers .prev a,
.page-numbers .current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    padding: 0 5px;
    border-bottom: 1px solid;
    margin: 0 3px;
    font-size: 0.875rem;
    line-height: 0;
}
.page-numbers .page a:hover,
.page-numbers .next a:hover,
.page-numbers .prev a:hover {
    border-bottom-color: #eab8c0;
}
.page-numbers .current {
    border-bottom-color: #eab8c0;
}
